.testClass {
    color: blue
}

#testId {
    color: green
}

div {
    color: red
}


/*
1- camel case => employeeEmail
2- snake case => employee_email
3- kebab case => employee-email
4- pascal case => EmployeeEmail
*/