* {
    box-sizing: border-box
}

body {
    height: 5000px;
}

.position {
    height: 50px;
    width: 200px;
    padding-top: 1%;
    background-color: #4e4e4e;
    text-align: center;
    color: #FFF;
    border: 3px solid #15bffd
}

.absolute_example {
    position: absolute;
    top: 0;
    right: 0;
}

.fixed_example {
    position: fixed;
    bottom: 30px;
    right: 0;
}

.sticky_example {
    position: sticky;
    top: 10px;
    z-index: 3;
}

.relative_example {
    position: relative;
    height: 300px;
    width: 300px;
    background-color: #EEE;
    border: red solid
}

.absolute_example2 {
    position: absolute;
    top: 20px;
    z-index: 2;
}

p {
    height: 300px;
    width: 500px;
    background-color: #080;
    overflow: auto;
    /* x & Y >> hidden - scroll */
    opacity: 50%;
    /* opacity: .5; */
}

input {
    outline: none;
}