1- the shoes products will be displayed by fetching the data, you can use any shoes api you want but the concept will be the same.
2- there will be a page for only the products by clicking the shoes link in the navbar there will be data fetched also from the same api, but you will have to make a loader like a spinner or anything until the data loads.
3- search for a js library that you like and learn about it like (nicescroll, etc...);